# Core functionality - changes here should be rare!
/src/app.py                   @lubixua
/src/backend/database.py      @lubixua
/src/backend/routers/auth.py  @lubixua

# The frontend will need refactored soon to be more object oriented.
/src/static/   @lubixua
